.article {
  width: 100%;
  max-width: 80rem;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: -1rem;
  background-color: white;
  padding: 0 1rem;
  width: 100%;
  margin: 0 -1rem;
}

.button {
  max-width: 5rem;
  min-width: 5rem;
  font-size: 1.1rem;
}

.title,
.content {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 3rem;
  margin: 1rem 0;
  background-color: rgb(209, 191, 245);
  border: none;
  border-radius: .5rem;
  padding: .5rem;
  font-size: 1rem;
  outline: none;
}

.title::placeholder {
  color: rgb(103, 64, 182);
}

.title:focus,
.content:focus {
  box-shadow: 0 0 0 .1rem rgb(103, 64, 182);
}

.content {
  height: auto;
  min-height: 30rem;
}

.content[placeholder]:empty:before {
  display: block;
  content: attr(placeholder);
  color: rgb(103, 64, 182);
}

.header-title {
  color: rgb(103, 64, 182);
}