.article {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.h2 {
  font-size: 2rem;
}

.sign-in-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: .5rem;
  background-color: rgb(210, 192, 247);
}

.sign-in-inner-wrap {
  display: flex;
  justify-content: center;
}

.sign-in-form {
  height: 20rem;
  padding: 2rem;
  width: 25rem;
  background-color: mediumpurple;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 14px 28px rgba(0, 0, 0, .4);
}

.sign-in-label {
  margin: 0;
  padding: .3rem;
  display: block;
  font-weight: bolder;
  color: rgb(209, 191, 245);
}

.sign-in-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: .5rem;
  border-radius: .5rem;
  border: 0;
}

.sign-in-button {
  width: 100%;
  padding: .5rem;
  border-radius: 1rem;
  border: 0;
  background-color: rgb(209, 191, 245);
  color: rgb(103, 64, 182);
  font-weight: bolder;
  font-size: 2rem;
  box-shadow: 0 .4rem rgb(103, 64, 182);
  transition: all .2s;
}

.sign-in-button:hover {
  box-shadow: 0 0 rgb(103, 64, 182);
  transform: translateY(.4rem);
  cursor: pointer;
}