.main-header {
  background-color: mediumpurple;
  display: flex;
  height: 3rem;

  /* 중심축에서 아이템 배치 */
  justify-content: center;

  flex-direction: column;
  color: whitesmoke;
}

.main-header a {
  color: whitesmoke;
}

.top-bar-wrap {
  display: flex;

  /* 아이템 사이에 간격 맞추기 */
  justify-content: space-between;
  margin: 1rem;
}

.wrap {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.inner-wrap {
  flex: 1;
  overflow: auto;
  padding: .7rem;
}

.side-bar {
  background-color: rgb(177, 149, 233);
  width: 15rem;
}

.hide {
  background-color: rgb(177, 149, 233);
  width: calc(1.4rem + 2 * 0.1rem + 2 * 1rem);
  white-space: nowrap;
  overflow-x: hidden;
}

.side-link {
  padding: 1rem;
  font-weight: bolder;
  text-decoration-line: none;
  display: block;
}

.side-link:hover {
  background-color: white;
}

.login {
  margin: 0 0.3rem;
}

.logout {
  margin-left: .3rem;
}

.menuWrap {
  display: flex;
  align-items: center;
}

.home {
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: text-bottom;
  margin-right: 1.5rem;
}

.board {
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: text-bottom;
  margin-right: 1.5rem;
}

.menu {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 1.5rem;
  cursor: pointer;
}