.wrap {
  background-color: rgb(207, 175, 238);
  height: 10rem;
  margin: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}

.search {
  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
}

.search-input {
  font-size: medium;
  padding: 0.5rem;
  width: 20rem;
}

.search-input:focus {
  outline: none !important;
  border-color: #d6a8e9;
  box-shadow: 0 0 10px #d6a8e9;
}

.write {}